<br/>
<br/>
<div class="container">
  <div class="row">

    <div class="col col--12 col--xs-6 col--sm--4 col--md-3">
      <div class="img">
        <img src="http://www.villahotels.com/var/villa/storage/images/resorts/royal-island-resort-spa/3509-26-eng-GB/Royal-Island-Resort-Spa.jpg"/>
      </div>
      <span>Normal image</h4>
    </div>

    <div class="col col--12 col--xs-6 col--sm--4 col--md-3">
      <div class="img img--error">
        <img src="http://www.villahotels.com/var/villa/storage/images/resorts/royal-island-resort-spa/3509-26-eng-GB/Royal-Island-Resort-Spa.jpg2"/>
      </div>
      <span>Normal image error</h4>
    </div>

    <div class="col col--12 col--xs-6 col--sm--4 col--md-3">
      <div class="img img--fixed">
        <img src="http://www.villahotels.com/var/villa/storage/images/resorts/royal-island-resort-spa/3509-26-eng-GB/Royal-Island-Resort-Spa.jpg"/>
      </div>
      <span>Fixed ratio 4:3</h4>
    </div>

    <div class="col col--12 col--xs-6 col--sm--4 col--md-3">
      <div class="img img--fixed img--error">
        <img src="http://www.villahotels.com/var/villa/storage/images/resorts/royal-island-resort-spa/3509-26-eng-GB/Royal-Island-Resort-Spa.jpg2"/>
      </div>
      <span>Fixed ratio error</h4>
    </div>

  </div>
</div>