<div class="table--responsive">
  <table class="table table--border table--hover table--zibra">
    <tbody>
      <tr>
        {{#atoms.table}}
          <th>
            <span>Table Head</span>
          </th>
        {{/atoms.table}}
      </tr>
  {{#atoms.table}}
    <tr>
      {{#atoms.table}}
        <td>
          <span>Table Cell</span>
        </td>
      {{/atoms.table}}
    </tr>
  {{/atoms.table}}
    </tbody>
  </table>
</div>