<br/>
<br/>
<div class="container">
  <h3>Default grid</h3>
  <br/>
  <div class="_container">
    <div class="_row">
      <div class="row">
        <div class="col col--4">
          <div class="_col">1/3</div>
        </div>
        <div class="col col--4">
          <div class="_col">1/3</div>
        </div>
        <div class="col col--4">
          <div class="_col">1/3</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <h3>Responsive grid</h3>
  <div class="_container">
    <div class="_row">
      <div class="row">
        <div class="col col--6 col--xs-4 col--md-3 col--lg-2 col--xlg-1">
          <div class="_col">A</div>
        </div>
        <div class="col col--6 col--xs-4 col--md-3 col--lg-2 col--xlg-1">
          <div class="_col">B</div>
        </div>
        <div class="col col--6 col--xs-4 col--md-3 col--lg-2 col--xlg-1">
          <div class="_col">C</div>
        </div>
        <div class="col col--6 col--xs-4 col--md-3 col--lg-2 col--xlg-1">
          <div class="_col">D</div>
        </div>
        <div class="col col--6 col--xs-4 col--md-3 col--lg-2 col--xlg-1">
          <div class="_col">E</div>
        </div>
        <div class="col col--6 col--xs-4 col--md-3 col--lg-2 col--xlg-1">
          <div class="_col">F</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <h3>Offset</h3>
  <div class="_container">
    <div class="_row">
      <div class="row">
        <div class="col col--4 col--offset-4">
          <div class="_col">1/3 - offset 1/3</div>
        </div>
      </div>
    </div>
  </div>
</div>